

html {
  overflow-x: hidden;
  font-family: "ProximaNova";
  font-weight: 400;
  font-size: 20px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: calc(1920px - 193px - 196px);
  min-width: 292px;
}
