@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova Bl";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
}
