.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0;
  background: url(../img/footer-people.png) no-repeat center / cover;
  height: 960px;

  &-top__txt {
    margin: 18px 0 0 0;
    color: $clr_white;
    text-transform: uppercase;
    font: 90px / normal $fnt_bold;
    line-height: 0.67;
    height: fit-content;
    letter-spacing: 4.5px;
  }

  &-bottom__txt {
    margin: 18px 0 0 0;
    text-transform: uppercase;
    font: 36px/0.94 $fnt_bold;
    text-align: left;
    color: $clr_footer_subtitle;
  }

  &-title {
    margin: 0 auto;
    max-width: 920px;
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    padding-top: 247px;
  }

  &-bottom {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: $clr_footer_background;
    height: 168px;
  }
}

// .footer-top__txt {
//   margin: 18px 0 0 0;
//   color: $clr_white;
//   text-transform: uppercase;
//   font: 90px / normal $fnt_bold;
//   line-height: 0.67;
//   height: fit-content;
//   letter-spacing: 4.5px;
// }

// .footer-bottom__txt {
//   margin: 18px 0 0 0;
//   text-transform: uppercase;
//   font: 36px/0.94 $fnt_bold;
//   text-align: left;
//   color: $clr_footer_subtitle;
// }

// .footer-title {
//   margin: 0 auto;
//   max-width: 920px;
//   display: flex;
//   justify-content: space-between;
// }

// .footer .wrapper {
//   padding-top: 247px;
// }

// .footer-bottom {
//   background-color: $clr_footer_background;
//   height: 168px;
// }

.footer-bottom .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  margin: 0 auto;
  max-width: calc(1920px - 50px - 60px);
}

.social {
  margin-left: 119.8px;
  width: 100%;
  max-width: 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fb {
  width: 15px;
  height: 27px;
  background: url("../img/facebook.png") no-repeat center/contain;
}

#fb:hover,
#twitter:hover,
#inst:hover,
.contact-info > a:hover {
  opacity: 0.7;
}

#twitter {
  width: 27px;
  height: 22px;
  background: url("../img/twitter.png") no-repeat center / contain;
}

#inst {
  width: 24px;
  height: 25px;
  background: url("../img/instagram.png") no-repeat center / contain;
}

.contact-info {
  color: $clr_white;
  font: 20px / normal $fnt_regular;
  letter-spacing: 1px;
}

@media all and (max-width: 1024px) {
  .footer {
    height: auto;
    margin-top: 140px;
  }
  .footer-bottom .wrapper {
    padding-top: 0;
    justify-content: center;
  }

  .footer-title {
    align-items: center;
    flex-direction: column;

    & > img {
      width: 139px;
      height: 137px;
    }
  }

  .footer-top__txt {
    margin-top: 82px;
    font-size: 80px;
  }

  .footer-bottom {
    height: 95px;
    margin-top: 130px;
  }

  .footer-bottom__txt {
    margin-top: 31px;
    text-align: center;
  }
  .btn-wrap {
    margin-top: 200px;
  }

  .footer-bottom .logo,
  .contact-info {
    display: none;
  }

  .social {
    margin-left: 0;
  }
}
