.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 960px;
  width: 100vw;
  background: url(../img/football-back.png) no-repeat center top / cover;

  &-top__info {
    height: 35px;
    width: 100%;
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
  }

  &-about {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font: 14px / normal $fnt_regular;
    letter-spacing: 0.7px;
    &:hover {
      opacity: 0.8;
      transition: 0.2s ease-in-out;
    }
  }

  &-top-txt,
  &-bottom-txt {
    color: $clr_white;
    text-transform: uppercase;
    font: 90px / normal $fnt_bold;
    letter-spacing: 4.2px;
  }

  &-top-txt {
    width: fit-content;
    text-align: left;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 285px 0 0 0;
    z-index: 300;
  }

  &-bottom-txt {
    line-height: 0.8;
    position: relative;
    text-align: right;
    margin: 0;
  }
}
.rectangle {
  position: absolute;
  top: 280px;
  left: 31.3%;
  z-index: 200;
}

.logo {
  height: 33px;
  width: 190px;
  background: url("../img/SURFACE.png") no-repeat center / contain;
}

#line {
  height: 6px;
  width: 406px;
  color: $clr_light_purple;
  background-color: $clr_light_purple;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);

  position: absolute;
  top: 405px;
  left: 488px;
  z-index: 80;
}

.menu {
  padding: 0;
  max-width: 567px;
  margin: 18px 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left__container {
    width: 58.77193%;
    display: flex;
    justify-content: space-between;
  }

  &-right__container {
    width: 32.45614%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-decoration: none;
    color: $clr_md_purple;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    &:hover {
      color: $clr_white;
      transition: 0.5s;
    }
  }
}

.btn-wrap {
  margin: 180px auto 0 auto;
  max-width: 672px;
  /*width: 90%;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 311px;
  min-width: 142px;
  height: 77px;
  transition: 0.5s;
  border-radius: 35px;
  background-color: $clr_light_purple;
  border: none;
  outline: none;

  &:first-child {
    padding: 0 67px 0 43px;
  }

  &:nth-child(2) {
    padding: 0 85px 0 64px;
  }

  &:hover {
    box-shadow: 0px 16px 24px 0 $clr_shadow;
    cursor: pointer;
  }

  &__text {
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    font: 14px / normal "ProximaNova";
    font-weight: 400;
    letter-spacing: 0.7px;
    color: $clr_white;
  }
}

.apple-icon {
  display: block;
  min-width: 33px;
  width: 33px;
  height: 37px;
  background: url("../img/Icon-Apple.png") no-repeat center / contain;
}

.app-text {
  display: block;
  font-weight: 700;
  line-height: 1.03;
}

.google-icon {
  min-width: 36px;
  width: 36px;
  height: 39px;
  background: url("../img/Icon-GooglePlay.png") no-repeat center / contain;
}

@media all and (max-width: 1024px) {
  .header .wrapper {
    max-width: calc(768px - 20px - 20px);
  }

  .header-top-txt,
  .header-bottom-txt {
    font: bold 64px / normal $fnt_bold;
    letter-spacing: 3.18px;
    z-index: 300;
  }

  .header-top-txt {
    line-height: 0.49;
  }

  .header-bottom-txt {
    margin: 33px auto 0 auto;
    max-width: 490px;
    text-align: left;
  }

  .menu {
    margin: 45px 0 20px 0;
    justify-content: space-between;
    max-width: 666px;

    &-left__container {
      justify-content: space-around;
      width: 100%;
    }

    &-right__container {
      justify-content: space-around;
      width: 70%;
    }

    &__item {
      font: 16px / normal $fnt_regular;
      font-weight: 400;
      letter-spacing: 0.7px;
    }
  }
}
// and (min-width: 425px)
@media all and (max-width: 670px) {
  .header {
    height: auto;
  }
  .header-top-txt {
    margin-top: 140px;
  }

  .header-top-txt,
  .header-bottom-txt {
    font: 32px/ 0.97 $fnt_bold;
    letter-spacing: 1.6px;
  }
  .header-bottom-txt {
    margin-left: 40px;
  }

  .header-about {
    display: none;
  }
  .header-top__info {
    padding-top: 40px;
    justify-content: center;
  }

  .menu {
    flex-direction: column;
  }

  .app-btn {
    width: 142px;
    height: 39px;
    &:first-child {
      padding: 0 17px 0 3px;
    }
    &:nth-child(2) {
      padding: 0 17px 0 23px;
    }
  }

  .app-btn__text {
    font-size: 8px;
    letter-spacing: 0.4px;
  }
  .apple-icon,
  .google-icon {
    width: 16px;
    height: 17px;
  }
  .btn-menu__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .header .btn-wrap {
    min-width: calc(142px * 2 + 8px);
    margin: 120px auto 0 auto;
    max-width: calc(320px - 14px * 2);
  }
}
@media all and (max-width: 425px) {
  .menu-right__container {
    margin-top: 12px;
  }
  .menu__item {
    font-size: 12px;
  }
  .rectangle {
    width: 142px;
    height: 177px;
    top: 190px;
    left: 24%;
  }
}
