@media only screen and (max-width: 425px){
	.banner {
		height: 660px;
	}
	.wrapper {
		width: 395px;
		margin: 0 15px 0 15px;
	}
	.header-logo_buttons {
		width:190px;
		padding-top: 40px;
	}
	.for-athlets {
		display: none;
	}
	.first-text {
		margin: 140px 0 0 0;
		width: 350px;
		font-size: 48px;
		line-height: 61.32px;
		letter-spacing: 1.76px;
	} 
	.sec-text {
		margin: 28px 0 0 35px;
		width: 350px;
		height: 120px;
		font-size: 48px;
		letter-spacing: 1.6px;
	}
	.menu {
		margin: 45px 25px 0 25px;
		width: 345px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.menu__link{
		font-size: 14px;
	}
	.menu_first_block {
		width: 345px;
		display: flex;
		justify-content: space-between;
	}
	.menu_second_block {
		width: 345px;
		display: flex;
		justify-content: space-around;
	}
	.header-wrap {
		width: 345px;
		height: 40px;
		margin: 85px auto 0 auto;
	}
	.left-btn {
		width: 165px;
	  height: 40px;
	  border-radius: 35px;
	  background-color: #5e42b0;
	  display: flex;
		justify-content: flex-start;
		transition: 0.5s;
	}
	.left-btn:hover{
		box-shadow: 0 10px 16px #0a0e34;
		cursor: pointer;
	}
	.right-btn:hover{
		box-shadow: 0 10px 16px #0a0e34;
		cursor: pointer;
	}
	.apple{
		width: 15px;
		height: 17px; 
		margin:11px 10px 11px 20px;
	}
	.apple_text{
	padding: 11px 0 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

	}
	.first_apple_text{
	font-size: 10px;
	letter-spacing: 0.4px;
	}
	.second_apple_text{
	font-size: 10px;
	line-height: 1.03;
	letter-spacing: 0.4px;
	}
	.right-btn{
	width: 160px;
	height: 40px;
	}
	.google{
	margin:10px 8px 11px 30px;
	height: 18px;
	width: 16px;
	}
	.google_text{
	padding: 10px 0 0 0; 
	}

	.first_google_text{
	font-size: 10px;
	letter-spacing: 0.4px;
	}
	.sec_google_text{
    font-size: 10px;
	letter-spacing: 0.4px;
	}
}