@media only screen and (max-width: 768px) {
	.wrapper {
		width: 728px;
		margin: 0 20px 0 20px;
	}
	.header-logo_buttons {
		width: auto;
	}
	.first-text{
		margin: 195px 0 0 70px;
		width: 490px;
		height: 45px;
		font-size: 64px;
		line-height: 31.32px;
		letter-spacing: 3.52px;
	}
	.sec-text {
		margin: 30px 0 0 177px;
		width: 500px;
		height: 122px;
		font-size: 64px;
		letter-spacing: 3.2px;
		text-align: left;
	}
	.menu {
		margin: 185px 30px 0 30px;
		width: 666px;
		display: flex;
		justify-content: space-between;
	}
	.menu_first_block {
		width: 380px;
		display: flex;
		justify-content: space-between;
	}
	.menu_second_block {
		width: 210px;
		display: flex;
		justify-content: space-between;
	}
	.header-wrap {
		width: 652px;
		margin: 115px auto 0 auto;
	}
	/*--1--*/

	.football-player {
		position:absolute;
		top: 1053px; 
		left: -165px;
		z-index: 5;
	}
	.player-line {
		position: absolute;
		top: 1075px;
		left: -340px;
	}
	.first-connect__block {
		height: 350px;
		width: 768px;
	}
	.text-athlets__block {
		height: 350px;
		margin-left: 42.6%;
	}
	.text-athlets__block p {
		font-size: 18px;
		letter-spacing: 0.9px;
	}
	h1 {
		padding-top: 80px;
	}
	.numbers-block{
		margin: 60px 0 0 0;
	}
	.sec-collab__block{
		height: 235px;
	}
	.text-collab__block{
		margin-left: 42.6%;
		height: 235px;
	}
	.text-collab__block p {
		letter-spacing: 0.9px;
		font-size: 18px;
		width: 422px;
		line-height: 28px;
	}
	.football-player > img {
		height: 700px;
		width: 500px;
	}
	.numbers-block-1{
		padding: 40px 0 0 0;
	}
	.third-growth__block{
		height: 205px;
	}
	.text-growth__block{
		margin-left: 42.6%;
		height: 205px;
	}
	.text-growth__block p{
		margin: 30px 0 0 0;
		width: 422px;
	  	height: 71px;
	  	font-size: 18px;
	  	letter-spacing: 0.9px;
	}
	/*--basket--*/
	.basket-1-line {
		display: none;
	}
	.basket-2-line {
		position: absolute;
		top: 1950px;
		right: 0px;
	}

	.basketball-player {
		position: absolute;
		top: 1780px;
		right: -250px;
	}
	.basketball-player > img {
		width: 690px;
		height: 565px;
	}
	.basket-1-con__block{
		width: 768px;
		height: 350px;
	}
	.basket-players__block {
		width: 380px;
		height: 350px;
	}
	.basket-players__block h1{
		padding: 80px 0 0 20px;
	}
	.players-con{
		padding: 60px 0 0 13px;
		width: 280px;
	}
	.basket-players__block p {
		margin: 32px 0 0 13px;
		width: 370px;
		font-size: 18px;
		letter-spacing: 0.9px;
	}
	/*--2--*/
	.basket-2-collab__block{
		width: 768px;
		height: 235px;
	}
	.basket-collab__block{
		height: 235px;
	}
	.players-colab{
		padding: 63px 0 0 13px;
	}
	.basket-collab__block p{
		width:413px;
		margin: 41px 0 0 13px;
  		font-size: 18px;
  		letter-spacing: 0.9px;
	}
	/*--3--*/
	.basket-3-growth__block {
		width: 768px;
  		height: 205px;
	}
	.basket-growth__block{
		height: 205px;
	}
	.players-growth {
		padding: 52px 0 0 13px;
	}
	.basket-growth__block p{
		margin: 31px 0 0 13px;
  		font-size: 18px;
  		width: 400px;
  		letter-spacing: 0.9px;
	}
	.bridge-01-block {
		height: 921px;
		width: 100vw;
		display: flex;
		flex-direction: column;
	}
	.bridge-person-block {
		height: 584px;
		width: 100vw;
	}
	.bridge-person-block > img {
		height: 584px;
		width: 100vw;
	}
	.text_block {
		height: 337px;
		width: 100vw;
	}
	.text-big_block{
		padding: 87px 0 0 35px;
		width: 445px;
	}
	.text-beactive_block {
		margin: 36px 0 0 35px;
		width: 655px;
	  	font-size: 24px;
	}
	.couch-02__block {
		height: 918px; 
		width: 100vw;
		display: flex;
		flex-direction: column-reverse;
	}
	.couch-pict  {
		height: 584px;
		width: 100vw;
		margin: 0;
	}
	.couch-pict > img {
		width: 100vw;
		height: 584px;
	}
	.find {
		padding: 77px 0 0 35px;
		width: 670px;
	}
	.find_text {
		margin: 36px 0 0 35px;
		width: 605px;
  		height: 50px;
  		font-size: 24px;
	}
	.winners_block {
		display: flex;
		flex-direction: column;
		height: 921px;
	}
	.winners-image {
		height: 584px;
		width: 100vw;
	}
	.winners-image > img {
		width: 100vw;
		height: 584px;
	}
	.work {
		margin: 37px 0 0 35px;
		width: 660px;
	  	height: 50px;
	  	font-size: 24px;
	}
	.footer {
		height: 956px;
		width: 100vw;
	}
	.footer-up_block {
		height: 864px;
		width: 100vw;
	}
	.footer-down_block	{
		height: 92px;
	}
	.footer-nav_blocks{
		padding: 35px 0 0 0;
		display: block;
		margin-left: 294px
	}
	.footer-logo_block {
		display: none;
	}
	table {
		display: none;
	}
	.nav_blocks {
		display: flex;
		flex-direction: column;
		padding: 128px 0 0 0;
		margin-left: 26px;
	}
	.footer-text_block {
		padding: 82px 0 0 0;
	}
	.footer-first-text {
		font-size: 80px;
		width: 680px;
		height: 56px;
		letter-spacing: 4.85px;
	}
	.footer-sec-text {
		padding: 31px 0 0 11px;
		height: 46px;
	}
	.button {
		margin-left: 279px;
	}
	.download-buttons{
		margin: 198px 0 0 38px;
		width: 652px; 
	}
	.big-rect {
		position: absolute;
		top: 3040px;
		left: 33px;
		width: 116px;
		height: 116px;
	}
	.third-block {
		position: absolute;
		top: 4875px;
		left: 33px;
	}
	.rect-small-block{
		padding: 43px 43px 41px 44px;
	}
	.second-block	{
		position: absolute;
		top: 3957px;
		left: 33px;
	}
}
