.section-wrapper {
  max-width: 692px;
  width: 100%;
}

.plus {
  border-radius: 2px;
  background-color: rgb(94, 66, 176);
  position: absolute;
  left: 1088px;
  top: 4939px;
  width: 22px;
  height: 5px;
  z-index: 33;
}

.section-top {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    justify-content: flex-end;
    height: 405px;
  }

  .wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.title {
  padding: 112px 0 0 0;
  margin: 0;
  text-transform: uppercase;
  color: $crl_title_white;
  font: 90px / normal $fnt_regular;
  font-weight: 700;
  line-height: 0.8;
}

.section-subtitle {
  display: flex;
  align-items: center;
  margin: 95px 0 0 0;
  font: 36px / 1.04 $fnt_bold;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: $clr_title_gray;
}

.section-title__number {
  color: $clr_black;
  margin-right: 10px;
  font: 18px / 1.1 $fnt_bold;
  border-bottom: 5px solid $clr_purple_border;
  border-radius: 2px;
}

.section-description {
  margin: 30px 0 0 0;
  font: bold 20px / normal $fnt_regular;
  letter-spacing: 0.8px;
  color: $clr_black;
}

.section-middle {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__container {
    background-color: $clr_section_gray;
    height: 256px;

    .section-subtitle {
      margin-top: 65px;
    }
  }
}

.section-bottom__container {
  height: 297px;
  background-color: $clr_light_purple;

  .section-title__number {
    border-bottom: 5px solid $clr_gray_border;
  }

  .section-description {
    color: $clr_white;
  }
}

.section-middle {
  .wrapper {
    max-width: calc(1920px - 324px * 2);
  }

  .title {
    padding-top: 112px;
  }

  .section-wrapper {
    max-width: 564px;
  }

  .section-top__container {
    height: 443px;
  }

  .section-subtitle {
    margin-top: 0;
    padding-top: 63px;
  }

  .section-middle__container {
    height: 244px;
  }

  .section-bottom__container {
    height: 268px;
    background-color: $clr_shadow;
  }

  .section-bottom__container .section-title__number {
    color: $clr_number_purple;
  }
}

.section-number__top {
  position: relative;
  top: 0;
  display: flex;
  height: 730px;
  width: 100vw;

  & > img {
    height: 730px;
    width: 50%;
    object-fit: cover;
  }
}

.section-number__top .section-wrapper,
.section-number__bottom .section-wrapper {
  padding: 0;
  margin: 257px 0 0 127px;
}

.section-number__top .title {
  padding: 0;
}

.section-number__top .section-description,
.section-number__middle .section-description,
.section-number__bottom .section-description {
  max-width: 322px;
  margin-top: 120px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.2px;
}

.section-number__middle {
  width: 100vw;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  & > img {
    width: 50%;
    height: 730px;
    object-fit: cover;
  }
}

.section-number__middle {
  .section-description {
    margin-top: 77px;
    max-width: 391px;
  }

  .section-wrapper {
    margin-left: 192px;
  }
}

.section-number__middle .title {
  padding-top: 257px;
}

.section-number__bottom {
  height: 729px;
  width: 100vw;
  position: relative;
  top: 0;
  display: flex;

  & > img {
    height: 730px;
    width: 50%;
    object-fit: cover;
  }
}

.section-number__bottom .section-description {
  max-width: 512px;
}

.section-number__bottom .title {
  padding: 0;
}

.block-counter {
  position: absolute;
  top: 210px;
  left: 50vw;
  right: 0;
  transform: translate(-50%, 0);
  width: 168px;
  height: 155px;
  background-color: $clr_square_purple;
}

.inner-info__wrapper {
  padding: 61px 72px 61px 72px;
}

.inner-info {
  height: 32px;
  width: 24px;
  font-weight: bold;
  border-bottom: 5px solid $clr_square_border;
  border-radius: 2px;
  font-size: 24px;
  color: $clr_square_title;
}

#player-football {
  position: absolute;
  top: 41px;
  left: 16.6%;
  right: 0;
  bottom: 0;
  z-index: 50;
}

#player-basket {
  position: absolute;
  top: -30px;
  right: 6.5%;
  bottom: 0;
  z-index: 20;
}

.slider-buttons {
  margin: 0 auto;
  padding: 32px 0;
  max-width: 54px;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.btn-item {
  width: 10px;
  height: 10px;
  background: $clr_sliderBtn_disabled;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: $clr_sliderBtn_enabled;
}

@media all and (max-width: 1920px) {
  .section-number__middle .section-wrapper {
    margin: 0 auto;
  }
}

@media all and (max-width: 1600px) {
  #player-football {
    left: 10%;
  }
}

@media all and (max-width: 1440px) {
  .section-number__middle {
    .title {
      width: min-content;
    }

    .section-wrapper {
      width: fit-content;
    }
  }
  #player-football {
    left: 0%;
  }
  #player-basket {
    right: -15%;
  }
  .section-top .section-wrapper {
    max-width: 592px;
  }
  .section-middle .section-wrapper {
    max-width: 544px;
  }
}

@media all and (max-width: 1200px) {
  #player-football {
    left: -15%;
  }
}

@media all and (max-width: 1024px) {
  #player-football {
    top: 61px;
    left: -40%;
  }

  .section-top .section-wrapper {
    width: 60%;
  }

  .section-top__container {
    height: 350px;
  }
  .section-subtitle {
    margin-top: 60px;
  }
  .section-description {
    font-size: 18px;
  }

  .section-middle__container .section-subtitle {
    margin-top: 40px;
  }
  .section-bottom__container .section-subtitle {
    margin-top: 40px;
  }

  .section-bottom__container {
    height: 205px;
  }

  #player-basket {
    right: -65%;
  }

  .section-top,
  .section-middle {
    .title {
      padding-top: 80px;
    }
  }

  .section-middle .section-top__container {
    height: 350px;
  }
  .section-middle .section-subtitle {
    padding-top: 60px;
  }

  .section-middle .section-middle__container {
    height: 235px;
  }

  .section-middle .section-bottom__container {
    height: 205px;
  }
  .section-middle .section-subtitle {
    margin-top: 0;
  }
  .section-number__top {
    flex-direction: column;
    height: auto;

    & > img {
      height: 768px;
      width: 100vw;
    }
  }

  .section-number__top,
  .section-number__middle,
  .section-number__bottom {
    & .section-wrapper {
      margin: 85px 0 0 35px;
    }
  }

  .section-number__top,
  .section-number__middle,
  .section-number__bottom {
    & .section-description {
      margin-top: 35px;
      max-width: 95%;
    }
  }

  .section-number__middle,
  .section-number__bottom {
    margin-top: 100px;
    flex-direction: column;
    height: auto;

    & > img {
      height: 768px;
      width: 100%;
    }

    & .section-wrapper {
      width: 100vw;
    }
  }

  .section-number__middle .title {
    padding-top: 0;
    width: 100%;
  }
  .block-counter {
    top: 670px;
    left: 12vw;
    width: 116px;
    height: 116px;
  }
  .inner-info__wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 425px) {
  .slider-buttons {
    display: flex;
  }
  .section-middle__container {
    height: auto;
  }
  #player-basket {
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 302px;
    height: 248px;
  }

  #player-football {
    width: 192px;
    height: 281px;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .section-number__top > img,
  .section-number__middle > img,
  .section-number__bottom > img {
    height: 351px;
  }
  .block-counter {
    top: 300px;
    left: 15vw;
    width: 70px;
    height: 70px;
  }
  .inner-info {
    text-align: center;
    border-width: 3px;
    height: auto;
    width: 16px;
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  .section-number__top .section-wrapper,
  .section-number__middle .section-wrapper,
  .section-number__bottom .section-wrapper {
    margin: 35px 0 0 20px;
  }
  .section-number__middle,
  .section-number__top,
  .section-number__bottom {
    & .title {
      font-size: 28px;
    }
  }

  .section-number__top .section-description,
  .section-number__middle .section-description,
  .section-number__bottom .section-description {
    font-weight: normal;
    font-size: 16px;
    margin-top: 23px;
    max-width: 86%;
  }
  .section-number__middle,
  .section-number__bottom {
    margin-top: 80px;
  }

  .section-top {
    & .section-wrapper {
      width: 100%;
    }

    & .section-bottom__container {
      display: none;
    }

    & .title {
      padding-top: 25px;
      font-size: 50px;
    }
  }
  .section-top__container {
    height: 305px;

    & .section-description {
      display: none;
    }

    & .section-subtitle {
      display: none;
    }
  }
  .section-middle__container .section-subtitle {
    margin-top: 80px;
    font-size: 28px;
  }
  .section-title__number {
    font-size: 14px;
  }
  .section-description {
    font-size: 15px;
  }

  .section-middle {
    & .section-top__container {
      height: 316px;
    }

    & .title {
      padding-top: 25px;
      font-size: 50px;
    }

    & .section-middle__container {
      display: none;
    }

    & .section-bottom__container {
      height: auto;
      background: $clr_section_gray;

      & .section-title__number {
        color: $clr_black;
        border-color: $clr_light_purple;
      }

      & .section-description {
        color: $clr_black;
      }
    }
  }
}
