// colors
$clr_white: #fff;
$clr_light_purple: #5e42b0;
$clr_md_purple: #9071ea;
$clr_shadow: #0a0e34;
$crl_title_white: #e7e7e7;
$clr_title_gray: #c1c1c1;
$clr_black: #000;
$clr_purple_border: rgb(94, 66, 176);
$clr_section_gray: #f7f4fa;
$clr_gray_border: #efefef;
$clr_deep_purple: #0a0e34;
$clr_number_purple: #9173e6;
$clr_square_purple: #5e3bb4;
$clr_square_border: #907acb;
$clr_square_title: #f5f6f7;
$clr_footer_subtitle: #a496ca;
$clr_footer_background: rgba(10, 14, 52, 0.6);
$clr_sliderBtn_disabled: #d8d8d8;
$clr_sliderBtn_enabled: #5c3caf;

// fonts
$fnt_regular: "ProximaNova";
$fnt_bold: "ProximaNova Bl";
